body{
    margin: 0;

    font-family:
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

    background: #f6f8fa;

    color: #111827;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

.landing-page{
    width: 100%;
}