/* 
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100vh;
    width: 50%;
    margin-left: auto; 
    background-color: whitesmoke;
    color: black;
} */

*{
    background-color: black;
}
.signup-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center; 
    height: 100vh;
}
#msg{
    margin-top: 2.5%;
}
.firstlast input{
    padding: 14px 16px;
    border: 14px solid whitesmoke;
    border-radius: 12px;
    order: none;
    
}

